{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=, initial-scale=1.0" />
    
    <link rel="preload" href="{% static './home_files/b076310598faf5bb.css' %}" as="style">
  <link rel="stylesheet" href="{% static './home_files/b076310598faf5bb.cs' %}s" data-n-g="">
  <link rel="preload" href="{% static './home_files/187f73f37ec4bc21.css' %}" as="style">
  <link rel="stylesheet" href="{% static './home_files/187f73f37ec4bc21.css' %}" data-n-p="">

  <link rel="stylesheet" href="{% static './slider/style.css' %}" data-n-p="">
    <title>Vanilla Slider</title>
  </head>
  <body>
    
      



      <div class="Ask_carousel-container__6qUBj">
            <div class="swiper-container swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
            <div class="swiper-wrapper">
            
  
<div class="swiper-slide Ask_carousel-slide__HWBKK swiper-slide-visible swiper-slide-active" style="width: 740px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
            <div class="Ask_carousel-inner__f1yII">
            <svg fill="none" height="180" width="180" xmlns="http://www.w3.org/2000/svg' %}">
            <lineargradient id="chat_svg__a" gradientUnits="userSpaceOnUse" x1="65.039" x2="65.039" y1="130.078" y2="0">
            <stop offset="0" stop-color="#6cf6c7">
          </stop>
          <stop offset="1" stop-color="#2dfcb5">
          </stop>
        </lineargradient>
          <lineargradient id="chat_svg__b" gradientUnits="userSpaceOnUse" x1="104.063" x2="104.063" y1="180" y2="38.672">
            <stop offset="0" stop-color="#1a1a1a">
          </stop>
          <stop offset="1" stop-color="#1a1a1a">
          </stop>
        </lineargradient>
          <lineargradient id="chat_svg__c" gradientUnits="userSpaceOnUse" x1="104.063" x2="104.063" y1="180" y2="38.672">
            <stop offset="0" stop-color="#d6fff1">
          </stop>
          <stop offset="1" stop-color="#fff6f7">
          </stop>
        </lineargradient>
          <path d="M130.078 65.04C130.078 29.175 100.902 0 65.039 0S0 29.176 0 65.04c0 14.04 4.583 27.714 12.979 38.929l.007.003L.912 121.854c-2.365 3.502.144 8.224 4.37 8.224h59.766c35.859-.005 65.03-29.179 65.03-65.039z" fill="url(#chat_svg__a)">
          </path>
          <g fill="url(#chat_svg__b)" fill-opacity="0.5">
            <path d="M65.04 38.672a5.274 5.274 0 0 1 0 10.547H33.397a5.274 5.274 0 0 1 0-10.547zM96.68 59.766a5.273 5.273 0 0 1 0 10.547H33.398a5.274 5.274 0 0 1 0-10.547zM96.68 80.86a5.273 5.273 0 0 1 0 10.546H33.398a5.273 5.273 0 0 1 0-10.547z">
          </path>
        </g>
          <path d="M179.089 171.775c2.364 3.503-.145 8.225-4.371 8.225h-59.765c-30.656-.004-56.42-21.328-63.253-49.922H65.05c35.858-.005 65.03-29.179 65.03-65.039 0-4.687-.503-9.259-1.45-13.668C157.951 57.668 180 83.785 180 114.961c0 14.041-4.583 27.715-12.979 38.93l-.006.003z" fill="url(#chat_svg__c)">
          </path>
        </svg>
          <p class="Ask_carousel-inner__title__iREg1">Open-ended questions
          </p>
          <p class="Ask_carousel-inner__text__ka5NL">Nova is here for you 24/7. This AI Assistant can generate humanlike responses, making you feel like you are chatting with an old friend. It can even recommend a book to read or a movie to watch!
          </p>
        </div>
        </div>



          <div class="swiper-slide Ask_carousel-slide__HWBKK swiper-slide-next" style="width: 740px; opacity: 0; transform: translate3d(-740px, 0px, 0px);">
            <div class="Ask_carousel-inner__f1yII">
            <svg fill="none" height="164" width="136" xmlns="http://www.w3.org/2000/svg' %}" xmlns:xlink="http://www.w3.org/1999/xlink">
            <lineargradient id="notebook_svg__b" gradientUnits="userSpaceOnUse" x1="41.635" x2="41.635" y1="129.813" y2="-12.336">
            <stop offset="0" stop-color="#d6fff1">
          </stop>
          <stop offset="1" stop-color="#fff6f7">
          </stop>
        </lineargradient>
          <lineargradient id="notebook_svg__a">
            <stop offset="0" stop-color="#1a1a1a">
          </stop>
          <stop offset="1" stop-color="#1a1a1a">
          </stop>
        </lineargradient>
          <lineargradient id="notebook_svg__c" gradientUnits="userSpaceOnUse" x1="89.429" x2="89.429" xlink:href="#notebook_svg__a" y1="43.638" y2="28.563">
          </lineargradient>
          <lineargradient id="notebook_svg__d" gradientUnits="userSpaceOnUse" x1="89.429" x2="89.429" xlink:href="#notebook_svg__a" y1="60.513" y2="45.438">
          </lineargradient>
          <lineargradient id="notebook_svg__e" gradientUnits="userSpaceOnUse" x1="89.429" x2="89.429" xlink:href="#notebook_svg__a" y1="77.388" y2="62.313">
          </lineargradient>
          <lineargradient id="notebook_svg__f" gradientUnits="userSpaceOnUse" x1="89.429" x2="89.429" xlink:href="#notebook_svg__a" y1="94.263" y2="79.188">
          </lineargradient>
          <lineargradient id="notebook_svg__g" gradientUnits="userSpaceOnUse" x1="102.839" x2="102.839" y1="68.988" y2="0.438">
            <stop offset="0" stop-color="#cecece">
          </stop>
          <stop offset="1" stop-color="#454545">
          </stop>
        </lineargradient>
          <lineargradient id="notebook_svg__h" gradientUnits="userSpaceOnUse" x1="48.929" x2="48.929" xlink:href="#notebook_svg__a" y1="111.138" y2="96.063">
          </lineargradient>
          <path d="M112.812 131.062c0 5.523-4.477 10-10 10h-91.25a5.625 5.625 0 0 1-5.624-5.624v-2.813c0-1.553-1.26-2.813-2.813-2.813S.312 128.553.312 127V18.875c0-5.523 4.478-10 10-10h92.5c5.523 0 10 4.477 10 10z" fill="#fff" fill-opacity="0.2">
          </path>
          <path d="M101.562 123.813c0 1.863 0 2.795-.304 3.53a4.002 4.002 0 0 1-2.165 2.165c-.735.304-1.667.304-3.53.304H6.313c-1.864 0-2.796 0-3.531-.304a4 4 0 0 1-2.165-2.165c-.305-.735-.305-1.667-.305-3.531V6.438c0-1.864 0-2.796.305-3.531A4 4 0 0 1 2.782.742C3.517.437 4.449.437 6.312.437h67.819c2.11 0 3.165 0 3.955.36a4 4 0 0 1 2.176 2.5c.247.832.102 1.877-.188 3.966l-1.418 10.204c-.29 2.09-.436 3.135-.188 3.966a4 4 0 0 0 2.176 2.5c.79.36 1.845.36 3.955.36h10.964c1.863 0 2.795 0 3.53.304a4.001 4.001 0 0 1 2.165 2.165c.304.735.304 1.667.304 3.53z" fill="url(#notebook_svg__b)">
          </path>
          <g fill-opacity="0.5">
            <path d="M84.688 34.188H22.812a2.812 2.812 0 1 1 0-5.626h61.876a2.812 2.812 0 1 1 0 5.625z" fill="url(#notebook_svg__c)">
          </path>
          <path d="M84.688 51.063H22.812a2.812 2.812 0 1 1 0-5.626h61.876a2.812 2.812 0 1 1 0 5.626z" fill="url(#notebook_svg__d)">
          </path>
          <path d="M84.688 67.938H22.812a2.812 2.812 0 1 1 0-5.626h61.876a2.812 2.812 0 1 1 0 5.626z" fill="url(#notebook_svg__e)">
          </path>
          <path d="M84.688 84.813H22.812a2.812 2.812 0 1 1 0-5.626h61.876a2.812 2.812 0 1 1 0 5.626z" fill="url(#notebook_svg__f)">
          </path>
        </g>
          <path d="M100.607 24.337c.593.64.139 1.679-.734 1.679H79.478a1 1 0 0 1-1-1V2.989c0-.91 1.116-1.346 1.734-.679z" fill="url(#notebook_svg__g)">
          </path>
          <path d="M45.313 101.688h-22.5a2.814 2.814 0 0 1-1.99-4.802 2.812 2.812 0 0 1 1.99-.823h22.5a2.812 2.812 0 1 1 0 5.625z" fill="url(#notebook_svg__h)" fill-opacity="0.5">
          </path>
          <path d="m117.72 80.711 9.708 5.693-39.847 67.961-9.709-5.693z" fill="#6cf6c7">
          </path>
          <path d="m75.65 163.563 2.256-14.977 9.707 5.688z" fill="#fff">
          </path>
          <path d="m117.8 80.64 4.269-7.281 9.709 5.692-4.269 7.282z" fill="#000">
          </path>
          <path d="m124.833 68.51-2.844 4.852 9.707 5.689 2.844-4.852a5.62 5.62 0 0 0-.369-6.24 5.627 5.627 0 0 0-5.905-2.047 5.626 5.626 0 0 0-3.433 2.599z" fill="#6cf6c7">
          </path>
        </svg>
          <p class="Ask_carousel-inner__title__iREg1">Get help with your homework
          </p>
          <p class="Ask_carousel-inner__text__ka5NL">You can get help with your homework, from essays and compositions to math questions. You can get help with your homework, from essays and compositions to math questions.
          </p>
        </div>
        </div>
      </div>




        </div>
        </div>
        </div>
      </div>



      
    </div>
    <script src="{% static './slider/app.js' %}"></script>
  </body>
</html>
